<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wyty.callme">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 语音通话权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 免提权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <application
            android:name=".commons.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".contact.search_contact.SearchActivity">
        </activity>
        <activity android:name=".contact.modify_contact.ModifyContactActivity">
        </activity>
        <activity android:name=".VoiceActivity">
        </activity>
        <activity android:name=".OnPhoneActivity">
        </activity>
        <activity android:name=".contact.add_contact.AddContactActivity">
        </activity>
        <activity android:name=".CallActivity">
        </activity>
        <activity android:name=".DialActivity">
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".commons.LinphoneService"
                android:label="@string/app_name"/>

        <activity android:name=".LoginActivity">
        </activity>
    </application>

</manifest>